.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  color: #f5f5f5;
  background-color: #000000;
  .top-header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 64px;
    .header-lang-left {
      padding-inline: 8px;
    }
    .header-lang-right {
      border-left: solid 2px #f5f5f5;
      padding-left: 8px;
    }
  }
  .top-header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 64px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      color: #f5f5f5;
      font-size: 1rem;
      border: none;
      text-decoration: none;
      svg {
        padding-right: 8px;
      }
    }
  }
}

.bottom-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: auto;
  
  img {
    height: 85px;
  }
  h2 {
    font-family: "noto-sans", sans-serif;
    margin: 0;
    padding: 8px 100px;
    background-color: #f5f5f5;
    border-radius: 32px;
    font-weight: 400;
    font-size: 1.2rem;
    border: none;
  }
  button {
    background-color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
    text-decoration: none;
  }
  button:hover {
    background-color: #f5f5f5;
  }
}

.store-hidden {
  display: none;
}
.store-info-wrapper {
  position: fixed;
  right: 0;
  top: 48px;
  background-color: #ffffff;
  width: 35%;
}

.header-ikea-icons-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.store-info {
  padding: 16px;
  line-height: 2.5rem;
}

.open-hours {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px 16px;
  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}