.about-page {
  margin: 64px;
  max-width: 1200px;
}

.about-page-names {
  font-weight: 700;
}

.about-page-extra-info {
  padding-left: 16px;
}

.about-page-ikea {
  color: #007cc1;
  font-weight: 700;
}
.about-page-ul {
  font-size: 1.2rem;
  line-height: 1.4;
}

.about-us-btn-wrapper {
  position: fixed;
  right: 64px;
  top: 225px;
  button {
    color: #eeeeee;
  }
}
