.about-page {
  margin: 64px;
  max-width: 1200px;
}

.about-page-names {
  font-weight: 700;
}

.about-page-extra-info {
  padding-left: 16px;
}

.about-page-ikea {
  color: #007cc1;
  font-weight: 700;
}
.about-page-ul {
  font-size: 1.2rem;
  line-height: 1.4;
}

.close-about-btn {
  position: fixed;
  right: 18px;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  img {
    width: 30px;
    height: auto;
    margin: 0 auto;
  }

  button {
    background: rgb(204, 0, 8);
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    padding: 5px 5px;
    color: #eee;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 24px rgba(2, 2, 2, 0.3);
    position: relative;
    z-index: 1;
    border: rgb(204, 0, 8);
  }

  button:hover {
    background: rgb(204, 0, 8);
    outline: none;
    border: #eee;
  }

  span {
    z-index: 0;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "noto-sans", sans-serif;
    background-color: rgb(204, 0, 8);
    color: #eee;
    font-weight: 500;
    margin-inline-end: -22px;
    padding-inline-start: 30px;
    padding-inline-end: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }
}
.close-about-btn:hover {
  border-radius: 30px;
  outline: 2px solid rgba(255, 255, 255, 0.2);
}

.close-about-btn:hover span {
  opacity: 1;
  transform: translateX(0);
}
