/*
 * ============================================
 * STILAR FÖR RUM 1: BARNPROBLEM!!! — ELENA JOBBAR HÄR
 * ============================================
 * I FILEN _VARIABLES.SCSS FINNS FÄRGER/FÄRGKODER SOM ÄR VANLIGA ATT SE HOS IKEA
*/
.room-1 {
  width: 800px;
  height: auto;
  background-color: #ffda1a;
  color: #333333;
}

.heading {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

#introductionDiv {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #333333;
  width: 800px;
  height: 800px;
  z-index: 1;
}

#startRoom1Btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#map {
  position: relative;
}
.map-image {
  background-image: url(src/my_src/map.png);
  position: relative;
  width: 800px;
  height: 800px;

  background-size: cover;
}

.zone-pillow img {
  width: 150px;
}

.zone-pillow {
  position: absolute;
  top: 42%;
  left: 51%;
}

.zone-teddybear img {
  width: 150px;
}

.zone-teddybear {
  position: absolute;
  top: 60%;
  left: 35%;
}

.zone-carpet img {
  width: 100px;
}

.zone-carpet {
  position: absolute;
  top: 50%;
  left: 20%;
}

.zone-bedsheets img {
  width: 150px;
}

.zone-bedsheets {
  position: absolute;
  top: 58%;
  left: 50%;
}

.zone-lamp img {
  width: 130px;
}

.zone-lamp {
  position: absolute;
  top: 70%;
  left: 20%;
}

.entry {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 130px;
}

.exit {
  position: absolute;
  top: 80%;
  left: 70%;
  width: 130px;
}

.zone-active {
  cursor: pointer;
}

.zone-inactive {
  cursor: not-allowed;
  opacity: 0.4;
}

.hidden {
  display: none;
}
