body {
  display: flex;
  justify-content: center;
}

.startpage {
  
  border-top: 3px solid #eee;
  padding-top: 20px;
  width: min(1750px, calc(100% - 100px));
}
.game-intro {
  width: fill;
  background-color: #0058a3;
  padding: 20px 60px;
  align-content: center;

   
  .last-line-intro, 
  .intro-header, 
  .mission,
  .tag {
    margin: 10px 40px;
    max-width: 550px;
    padding: 5px 0;
  }
  
  .intro-header {
    color: #ffda1a;
    
  }
  

  p {
    padding: 0 auto;
    color: #eee;
    margin: 0 40px;
    
  }
  .last-line-intro {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffda1a;
  
  
}

}



.img-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  align-content: end;
}
.front-img {
  max-width: auto;
  height: 290px;
  
}

.front-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.intro-flex-div {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  height: 550px;
}

.log-in-form-wrapper {
  width: 100%;
  flex: 1;
  position: relative;
  
  input {
    width: 300px;
    height: 25px;
    margin: 20px 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #7e7e7e;
  }

  span {
    position: absolute;
    top: 70px;
  }

  button {
    background-color: black;
    color: #eee;
    width: 100%;
    border: none;
    font-weight: 700;;
  }

  button:hover {
    background-color: #333;
    outline: none;
  }
}

.log-in-form-wrapper form {
  width: 100%;
  height: 100%;
}

.log-in-form {
  display: flex; 
  flex-direction: column;
  background-color: #f5f5f5;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100%;
  box-sizing: border-box;  
  
  p {
    display: inline;
  }
}



.rooms-intro {
  display: flex;
  margin-top: 20px;
  gap: 15px;
  justify-content: space-between;
}

.tag {
 
  color: white;
  font-family: "noto-sans", sans-serif;
  font-size: 3rem;
  margin: 5px 0;
  margin-bottom: 20px;
  font-weight: 800;
}

.scene {
  perspective: 600px;
}

.card {
  width: 100%;
  height: 400px;
  position: relative;
  
  cursor: pointer;
}

.card-front,
.card-back {
  width: 100%;
  height: 330px;
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease;
}

.card-back {
  opacity: 0;
}

.card:hover .card-front {
  opacity: 0;
}

.card:hover .card-back {
  opacity: 1;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(201, 72, 12);
  
  h2 {
    color: white;
    padding: 25px 30px;
    
  }
}

.back {
  position: absolute;
  width: 100%;
  height: 330px; // has to be the same size as .card-front, .card-back {...}
  box-sizing: border-box;
  background: #eee;
  color: #333;
  padding: 25px 30px;
  h2 {
    color: #333;
  }
  p {
    font-family: "noto-sans", sans-serif;
    font-size: 1rem;
  }
}



